.navbar-custom-menu>.nav
{
	flex-direction: row;
}

.main-header .navbar .nav > li > a > .label {
  position: relative !important;
  top: -15px !important ;
  right: 10px !important ;
  }

  .main-header .logo {
  
    height: 54px !important ;
}

.skin-blue .sidebar-form input[type="text"]
{
	border: 0px solid transparent !important ;
}